<div class="container-fluid">
    <div class="block-header">
        <div class="block-logo">
            <a class="navbar-brand" href="">
                <img src="./img/logo-2-2x.png" alt="#">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSup portedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand show-sp" href="">
                <img src="./img/logo-2-2x.png" alt="#">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-collapse-close show-sp">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <img class="show-sp img img-fluid" src="./img/logo-menu-sp.png" alt="#">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./jobslist.html">Jobs List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="block-contact show-sp">
                <nav class="nav">
                    <a class="nav-link" href="https://www.facebook.com/camtu.itrecruiter/" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="nav-link" href="skype:live:.cid.464d5c57fceada78?chat">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                    </a>
                    <a class="nav-link" href="mailto:tuphan@jobseeker.vn?subject=The%20subject%20of%20the%20mail">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <span>|</span>
                    <a class="nav-link" href="tel:0989400428">
                        <span class="hide-sp">+84989400428</span>
                        <span class="show-sp"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    </a>
                </nav>
            </div>
        </nav>
        <div class="block-contact">
            <nav class="nav">
                <a class="nav-link" href="https://www.facebook.com/camtu.itrecruiter/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="skype:live:.cid.464d5c57fceada78?chat">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="mailto:tuphan@jobseeker.vn?subject=The%20subject%20of%20the%20mail">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <span class="hide-sp">|</span>
                <a class="nav-link" href="tel:0989400428">
                    +84989400428
                </a>
            </nav>
        </div>
    </div>
</div>
